<div class="views-exposed-form exposed-filter">
  <form action="#" method="get" accept-charset="UTF-8">
    <div class="js-form-item form-item">
      <label for="edit-series" class="form-item__label">Filter title</label>
      <div class="form-item__dropdown">
        <select id="edit-series" name="series" class="form-select form-item__select">
          <option value="All" selected="selected">- Any -</option>
          <option value="3">The first item</option>
          <option value="3">Another item</option>
          <option value="3">A really long long item that takes up loads of room</option>
        </select>
      </div>
    </div>
    <div class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
      <input type="submit" id="edit-submit-blog" value="Apply" class="button js-form-submit form-submit form-item__textfield">
      <input type="submit" id="edit-reset" name="op" value="Reset" class="button js-form-submit form-submit form-item__textfield">
    </div>
  </form>
</div>