<div class="no-touchevents details js mm-opened mm-blocking mm-background mm-next mm-theme-white mm-effect-slide-menu mm-opening">
  <div id="off-canvas" class="mm-menu mm-theme-white mm-effect-slide-menu mm-offcanvas mm-next mm-keyboardfocus mm-current mm-opened">
    <input class="mm-tabstart" tabindex="0" type="text">
    <div class="mm-panels">
      <div class="mm-panel mm-hasnavbar mm-opened mm-current" id="mm-1">
        <div class="mm-navbar">
          <a class="mm-title">Menu</a>
        </div>
        <ul class="menu mm-listview">

          <li class="menu__item menu-name--main">
            <a href="/" class="menu__link" data-drupal-link-system-path="&lt;front&gt;" tabindex="0">Home</a>
          </li>

          <li class="menu__item menu-name--main">
            <a href="/node/9" class="menu__link" data-drupal-link-system-path="node/9" tabindex="0">TEST - Basic page
              using real content from old site</a>
          </li>

          <li class="menu__item menu__item--active menu-name--main">
            <a href="/node/7" class="menu__link is-active" data-drupal-link-system-path="node/7" tabindex="0">TEST - Test basic page for paragraph types</a>
          </li>

          <li class="menu__item menu-name--main">
            <a href="/node/10" class="menu__link" data-drupal-link-system-path="node/10" tabindex="0">TEST - a page without a a hero image</a>
          </li>

          <li class="menu__item menu-name--main">
            <a href="/where-can-i-go" class="menu__link" data-drupal-link-system-path="node/6" tabindex="0">Where can I go?</a>
          </li>

          <li class="menu__item menu-name--utility">
            <a href="http://google.com" class="menu__link" tabindex="0">Google</a>
          </li>

          <li class="menu__item menu-name--curated">
            <a href="http://duckduckgo.com" class="menu__link" tabindex="0">duck duck go</a>
          </li>
        </ul>
      </div>
    </div>
    <input class="mm-tabend" tabindex="0" type="text">
  </div>
</div>