{% if pl %}
  <div id="block-searchtoggle" class="search-toggle contextual-region">
    <span id="search-toggle-icon" class="search-toggle-block" title="Search"><a href="/search" class="search-link">Search</a></span></div>
{% else %}
  {{ content }}
{% endif %}