{#
/**
 * @file
 * paragraph-text
 *
 * Available variables for paragraph-text:
 *    - paragraph_text.variable_name [variable_type]: Description of the variable. Example below.
 *    - paragraph_text.invert [bool]: When set, colors will be inverted for light display on dark background.
 */
#}

<div class="paragraph-text">

</div>
