{#Just for pattern lab and not used by Drupal.#}
<div class="testimonial testimonial--without-image">
  <div class="testimonial__wrapper">
    <div class="testimonial__text">{{ text }}</div>
    <div class="testimonial__citation">{{ citation }}</div>
    <div class="testimonial__context">{{ context }}</div>
  </div>
</div>