<div class="testimonial{{ image is not empty ? ' testimonial--with-image' : ' testimonial--without-image' }}">
  <div class="testimonial__wrapper">
    <div class="testimonial__text">{{ text }}</div>
    <div class="testimonial__citation">{{ citation }}</div>
    <div class="testimonial__context">{{ context }}</div>
  </div>
  {% if image is not empty %}
  <div class="testimonial__image">
    {% include "@atoms/fields/image/image.twig" with {
      "image": image,
      "credit": '',
      "bem": 'testimonial',
    } %}
  </div>
  {% endif %}
</div>