  {% set container = true %}


    <h1>Inline SVG</h1>

    <p>Grab and inline any svg within source by passing its namespace'd path. For instance: <code>@atoms/icon/svg/person.svg</code>:</p>

    {% include '@atoms/image/_svg.twig' with {
      svgpath: '@atoms/icon/svg/person.svg',
    } %}

    <p>Or <code>@atoms/image/logo.svg</code>:</p>

    {% include '@atoms/image/_svg.twig' with {
      svgpath: '@atoms/image/logo.svg',
    } %}

