<form class="webform-submission-test-webform-form webform-submission-form js-webform-details-toggle webform-details-toggle contextual-region" data-drupal-selector="webform-submission-test-webform-form" action="/webform-test" method="post" id="webform-submission-test-webform-form" accept-charset="UTF-8" data-drupal-form-fields="edit-email-address,edit-textfield,edit-citizenship,edit-challenge,edit-positive,edit-radios-test-high-school,edit-radios-test-associate-degree,edit-radios-test-graduate-or-professional-degree,edit-radios-test-some-college,edit-submit">

  <div data-drupal-selector="edit-container" id="edit-container" class="js-form-wrapper form-wrapper"><div class="js-form-item form-item">
      <label for="edit-email-address" class="form-item__label">Email address</label>
      <input data-drupal-selector="edit-email-address" type="email" id="edit-email-address" name="email_address" value="" size="60" maxlength="254" class="form-email form-item__email">

    </div>
    <div class="js-form-item form-item">
      <label for="edit-textfield" class="form-item__label">Textfield</label>
      <input data-drupal-selector="edit-textfield" aria-describedby="edit-textfield--description" type="text" id="edit-textfield" name="textfield" value="" size="60" maxlength="255" class="form-text form-item__textfield">

      <div id="edit-textfield--description" class="form-item__description">
        A plain old textfield
      </div>
    </div>
    <div class="js-form-item form-item">
      <label for="edit-a-test-select-widget" class="form-item__label">A test select widget</label>

    </div>
  </div>
  <fieldset data-drupal-selector="edit-fieldset" aria-describedby="edit-fieldset--description" id="edit-fieldset" class="form-fieldset">
    <legend class="heading-2">Fieldset</legend>
    <div id="edit-fieldset--description" class="description">A fieldset with a description</div>
    <div class="js-form-item form-item">
      <label for="edit-citizenship" class="visually-hidden form-item__label">Citizenship</label>
      <input data-drupal-selector="edit-citizenship" aria-describedby="edit-citizenship--description" type="checkbox" id="edit-citizenship" name="citizenship" value="1" class="form-checkbox form-item__checkbox">

      <div id="edit-citizenship--description" class="form-item__description">
        I am a UK, EU or EEA citizen or have indefinite leave to remain in the UK, and I have a current UK address. (If not, please apply directly to an&nbsp;<a href="/country-offices">ICS office in your own country</a>
      </div>
    </div>
    <div class="js-form-item form-item">
      <label for="edit-challenge" class="visually-hidden form-item__label">Challenge</label>
      <input data-drupal-selector="edit-challenge" aria-describedby="edit-challenge--description" type="checkbox" id="edit-challenge" name="challenge" value="1" class="form-checkbox form-item__checkbox">

      <div id="edit-challenge--description" class="form-item__description">
        Challenging myself to make a difference
      </div>
    </div>
    <div class="js-form-item form-item">
      <label for="edit-positive" class="visually-hidden form-item__label">Positive</label>
      <input data-drupal-selector="edit-positive" aria-describedby="edit-positive--description" type="checkbox" id="edit-positive" name="positive" value="1" class="form-checkbox form-item__checkbox">

      <div id="edit-positive--description" class="form-item__description">
        Doing something positive in my community when I return for my&nbsp;<a href="/action-at-home">Action at Home</a>
      </div>
    </div>

  </fieldset>
  <fieldset data-drupal-selector="edit-radios-test" aria-describedby="edit-radios-test--wrapper--description" id="edit-radios-test--wrapper" class="fieldgroup form-composite form-fieldset js-webform-radios-fieldset">
    <legend class="heading-2">Radios test</legend>
    <div id="edit-radios-test--wrapper--description" class="description">Some radio buttons in two columns</div>
    <div id="edit-radios-test" class="webform-options-display-two-columns js-webform-radios form-item--radio"><div class="js-form-item form-item">
        <input data-drupal-selector="edit-radios-test-high-school" aria-describedby="edit-radios-test--description" type="radio" id="edit-radios-test-high-school" name="radios_test" value="High School" class="form-radio form-item__radio">

        <label for="edit-radios-test-high-school" class="option form-item__label">High School</label>
      </div>
      <div class="js-form-item form-item">
        <input data-drupal-selector="edit-radios-test-associate-degree" aria-describedby="edit-radios-test--description" type="radio" id="edit-radios-test-associate-degree" name="radios_test" value="Associate Degree" class="form-radio form-item__radio">

        <label for="edit-radios-test-associate-degree" class="option form-item__label">Associate Degree</label>
      </div>
      <div class="js-form-item form-item">
        <input data-drupal-selector="edit-radios-test-graduate-or-professional-degree" aria-describedby="edit-radios-test--description" type="radio" id="edit-radios-test-graduate-or-professional-degree" name="radios_test" value="Graduate or Professional Degree" class="form-radio form-item__radio">

        <label for="edit-radios-test-graduate-or-professional-degree" class="option form-item__label">Graduate or Professional Degree</label>
      </div>
      <div class="js-form-item form-item">
        <input data-drupal-selector="edit-radios-test-some-college" aria-describedby="edit-radios-test--description" type="radio" id="edit-radios-test-some-college" name="radios_test" value="Some College" class="form-radio form-item__radio">

        <label for="edit-radios-test-some-college" class="option form-item__label">Some College</label>
      </div>
    </div>

  </fieldset>
  <input data-drupal-selector="form-s1mecgxtp-6zo4wxtufqv-tb5a75bmgrikxio6hgowe" type="hidden" name="form_build_id" value="form-s1mEcGXtP_6ZO4wXtUfQv_tb5A75BMgRikxio6hgoWE" class="form-item__textfield">
  <input data-drupal-selector="edit-webform-submission-test-webform-form-form-token" type="hidden" name="form_token" value="YA889xCTzh0U4E1M0plyAHC2jdNO5rMtKOF9pTO57LA" class="form-item__textfield">
  <input data-drupal-selector="edit-webform-submission-test-webform-form" type="hidden" name="form_id" value="webform_submission_test_webform_form" class="form-item__textfield">
  <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions"><input class="webform-button--submit button button--primary js-form-submit form-submit form-item__textfield" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="Submit">

  </div>

  <div data-contextual-id="webform:webform=test_webform:langcode=en" class="contextual" role="form"><button class="trigger focusable visually-hidden" type="button" aria-pressed="false">Open  configuration options</button><ul class="contextual-links" hidden=""><li class="entitywebformedit-form"><a href="/admin/structure/webform/manage/test_webform?destination=webform/test_webform">Edit</a></li><li class="entitywebformresults-submissions"><a href="/admin/structure/webform/manage/test_webform/results/submissions?destination=webform/test_webform">Results</a></li></ul></div>
</form>